#{extends 'main.html' /} #{set title:'leaderboard' /}

<nav class="ui inverted  menu">
	<a class="ui item" href="/home"><i class="large home icon"></i> </a><a
		class="ui item" href="/members"><i class="large users icon"></i></a> <a
		class="ui item" href="/profile"><i class="large male icon"></i></a> <a
		class="ui active item" href="/leaderboard"><i
		class="large bar chart icon"></i></a> <a class="ui item" href="/login"><i
		class="large sign out icon"></i></a>
</nav>


<div class="ui large header">Leaderboards</div>


<table class="ui blue table">
	<thead>
		<tr>
			<th>Position</th>
			<th>Name</th>
			<th>Pictures</th>
			<th>Friends</th>
		</tr>
	</thead>

	<tbody>
		<div class="ui list">
			#{list items:users, as:'user'}
			<tr>

				<td><a class="item">
						<div class="ui red horizontal label">${users.indexOf(user)+1}</div>

				</a></td>
				<td><a href="/publicprofile/${user.id}">${user.firstName}
						${user.lastName}</a>
		</div>
		</td>
		<td><a href="/publicprofile/${user.id}"> <img
				src="/profile/getpicture/${user.id}"
				class="ui small rounded image tin-blue-border">
		</a></td>

		<td>${user.friendships.size()}</td>
		</tr>
		#{/list}
		</div>
	</tbody>

</table>



<div class="fluid ui button" tabindex="0">

	<a class="ui active item" href="/leaderboard/social">
		<button class="ui primary button">
			<i class="add circle icon"></i>MOST SOCIAL
		</button>
	</a> <a class="ui active item" href="/home">
		<button class="ui primary button">
			<i class="home icon"></i>
		</button>
	</a> <a class="ui active item" href="/leaderboard/talkative">
		<button class="ui primary button">
			<i class="mail outline icon"></i>MOST TALKATIVE
		</button>
	</a>
</div>
