#{extends 'main.html' /} #{set title:'Social' /}
<nav class="ui inverted  menu">
	<a class="ui active item" href="/home"><i class="large home icon"></i>
	</a><a class="ui item" href="/members"><i class="large users icon"></i></a>
	<a class="ui item" href="/profile"><i class="large male icon"></i></a>
	<a class="ui item" href="/leaderboard"><i
		class="large bar chart icon"></i></a> <a class="ui item" href="/login"><i
		class="large sign out icon"></i></a>
</nav>


<div class="ui large header">Social Leaderboard</div>


<table class="ui  blue table">
	<thead>
		<tr>
			<th>Position</th>
			<th>Name</th>
			<th>Picture</th>
			<th>Inbox</th>
			<th>Outbox</th>
			<th>Friends</th>
		</tr>
	</thead>

	<tbody>
		<div class="ui list">
			#{list items: listOfFriendShips,as:'mostFriends'}
			<tr>
				<td><a class="item">
						<div class="ui red horizontal label">${listOfFriendShips.indexOf(mostFriends)+1}</div>

				</a></td>
				<td><a href="/publicprofile/${mostFriends.id}">${mostFriends.firstName}
						${mostFriends.lastName}</a></td>
				<td><a href="/publicprofile/${mostFriends.id}"> <img
						src="/profile/getpicture/${mostFriends.id}"
						class="ui small rounded image tin-blue-border">
				</a></td>
				<td>(inbox-${mostFriends.inbox.size()})</td>
				<td>(outbox-${mostFriends.outbox.size()})</td>
				<td>(friends-${mostFriends.friendships.size()})</td>
			</tr>

		</div>
		#{/list}
	</tbody>

</table>

<div class="fluid ui button" tabindex="0">

	<a class="ui active item" href="/leaderboard/social">
		<button class="ui primary button">
			<i class="add circle icon"></i>MOST SOCIAL
		</button>
	</a> <a class="ui active item" href="/home">
		<button class="ui primary button">
			<i class="home icon"></i>
		</button>
	</a> <a class="ui active item" href="/leaderboard/talkative">
		<button class="ui primary button">
			<i class="mail outline icon"></i>MOST TALKATIVE
		</button>
	</a>
</div>
