#{extends 'main.html' /} #{set title:'talkative' /}

<nav class="ui inverted  menu">
	<a class="ui item" href="/home"><i class="large home icon"></i> </a> <a
		class="ui item" href="/members"><i class="large users icon"></i></a> <a
		class="ui item" href="/profile"><i class="large male icon"></i></a> <a
		class="ui active item" href="/leaderboard"><i
		class="large bar chart icon"></i></a> <a class="ui item" href="/login"><i
		class="large sign out icon"></i></a>
</nav>


<div class="ui large header">Talkative Leaderboard</div>


<table class="ui  blue table">
	<thead>
		<tr>
			<th>Position</th>
			<th>Name</th>
			<th>Picture</th>
			<th>Inbox</th>
			<th>Outbox</th>
			<th>Friends</th>
		</tr>
	</thead>



	<tbody>
		<div class="ui list">
			#{list items: amountOfMess,as:'messAmount'}
			<tr>
				<td><a class="item">
						<div class="ui red horizontal label">${amountOfMess.indexOf(messAmount)+1}</div>

				</a></td>
				<td><a href="/publicprofile/${messAmount.id}">${messAmount.firstName}
						${messAmount.lastName}</a></td>
				<td><a href="/publicprofile/${messAmount.id}"> <img
						src="/profile/getpicture/${messAmount.id}"
						class="ui small rounded image tin-blue-border">
				</a></td>
				<td>(inbox-${messAmount.inbox.size()})</td>
				<td>(outbox-${messAmount.outbox.size()})</td>
				<td>(friends-${messAmount.friendships.size()})</td>
			</tr>
		</div>
		#{/list}
	</tbody>

</table>




<div class="fluid ui button" tabindex="0">

	<a class="ui active item" href="/leaderboard/social">
		<button class="ui primary button">
			<i class="add circle icon"></i>MOST SOCIAL
		</button>
	</a> <a class="ui active item" href="/home">
		<button class="ui primary button">
			<i class="home icon"></i>
		</button>
	</a> <a class="ui active item" href="/leaderboard/talkative">
		<button class="ui primary button">
			<i class="mail outline icon"></i>MOST TALKATIVE
		</button>
	</a>
</div>
