.tin-blue-border {
	border-color: #0080ff;
	border-width: 5px;
	border-style: solid;
	border-radius: 10px;
}

.tin1-blue-border {
	border-color: #0080ff;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
}

a:hover {
	color: red;
}

a:active {
	color: yellow;
}

h3 {
	color: green;
}

hr {
	color: blue;
}