#{extends 'main.html' /} #{set title:'Spacebook' /}

<nav class="ui inverted menu">
	<a class="ui active item" href="/home"><i class="large home icon"></i></a>
</nav>

<section class="ui raised segment">
	<div class="ui small header">${user.firstName} ${user.lastName}'s
		Profile</div>
	<section class="ui  two column grid segment">
		<div class="row">
			<div class="column">
				<div class="ui medium rounded image tin-blue-border">
					<img src="/profile/getpicture/${user.id}" />
				</div>

				<h2>Status: ${user.statusText}</h2>

			</div>
			<form action="/publicprofile/sendmessage/${user.id}" class="ui form"
				method="post">

				<div class="field">
					<label>Subject</label> <input placeholder="subject" type="text"
						name="subject">
				</div>

				<div class="ui small header">Messages</div>

				<div class="field">
					<textarea name="messageText"></textarea>
				</div>
				<button class="ui fluid blue labeled submit icon button">
					<i class="icon edit"></i> Send
				</button>
			</form>

			<hr>
			<ul>
				#{list items:user.inbox, as:'message'}
				<li>${message.from.firstName} says... ${message.messageText}</li>
				#{/list}
			</ul>
		</div>
	</section>
</section>