#{extends 'main.html' /} #{set title:'Home' /}
<section>
	<div class="ui inverted segment">
		<h1 class="ui header" align="center">
			SpaceBook Home page<i class="world icon"></i>
		</h1>

	</div>
</section>

<section class="ui segment">
	<div class="ui column">
		<img src="/public/images/spaceBanner.gif" width="100%" height="300px">
	</div>
</section>

<nav class="ui inverted  menu">
	<a class="ui active item" href="/home"><i class="large home icon"></i></a>
	<a class="ui item" href="/members"><i class="large users icon"></i></a>
	<a class="ui item" href="/profile"><i class="large male icon"></i></a>
	<a class="ui item" href="/leaderboard"><i
		class="large bar chart icon"></i></a> <a class="ui item" href="/login"><i
		class="large sign out icon"></i></a>
</nav>

<section class="ui inverted blue segment">
	<div class="ui  three column grid segment">
		<div class="ui column four wide">

			<div class="header">
				<h2>Personal Details</h2>
				<hr>
			</div>

			<div class="sub header">
				<h4>Name:</h4>
				${user.firstName} ${user.lastName}
			</div>

			<div class="sub header">
				<h4>Age:</h4>
				${user.age}
			</div>

			<div class="sub header">
				<h4>Nationality:</h4>
				${user.nationality}
			</div>
			<div class="sub header">
				<h4>Email:</h4>
				${user.email}
			</div>

			<a class="ui active item" href="/editDetails">
				<button class="ui button">
					<i class="edit icon"></i>
				</button>
			</a>

		</div>

		<div class="ui column five wide">
			<h2>Friends (${user.friendships.size()})</h2>
			<table class="ui  blue table">
				<div class="ui list">
					#{list items:user.friendships, as:'friendship'}
					<tr>
						<td><div class="content">
								<a href="/publicprofile/${friendship.targetUser.id}"> <img
									src="/profile/getpicture/${friendship.targetUser.id}"
									class="ui tiny rounded image tin1-blue-border ui avatar image">
									${friendship.targetUser.firstName}
									${friendship.targetUser.lastName}
								</a> (<a href="/home/drop/${friendship.targetUser.id}"> <i
									class="remove user icon"></i></a>)
								<h3>${friendship.targetUser.statusText}</h3>
							</div></td>
					</tr>
					#{/list}
				</div>
			</table>
		</div>




		<div class="ui column seven wide">
			<h2>
				Messages<i class=" large mail outline icon"></i>(${user.inbox.size()})
			</h2>

			<div class="ui list">
				#{list items:conversations, as:'conversation'}
				<table class="ui  blue table">



					<thead>
						<tr>
							<th class="three wide">Time</th>
							<th class="three wide">Sender</th>
							<th class="three wide">Subject</th>
							<th class="seven wide">Message <i class="mail outline icon"></i></th>
						</tr>
					</thead>


					<tbody>
						<div class="ui list">
							#{list items:conversation, as:'converse'}
							<tr>
								<td>${converse.postedAt.getHours()} :
									${converse.postedAt.getMinutes()} :
									${converse.postedAt.getSeconds()}</td>
								<td><a href="/publicprofile/${converse.from.id}"> <img
										src="/profile/getpicture/${converse.from.id}"
										class="ui mini circular image tin1-blue-border ui avatar image">
										${converse.from.firstName}
								</a></td>
								<td>${converse.subject}</td>
								<td>${converse.messageText}</td>
							</tr>
					</tbody>
					#{/list}
					</div>
				</table>
				#{/list}
			</div>
		</div>

		<div class="fluid ui button" tabindex="0">
			<a class="ui active item" href="/home/sortByUser"><button
					class="ui primary button">
					<i class="user icon"></i>BY USER
				</button></a> <a class="ui active item" href="/home/sortByConversation"><button
					class="ui primary button">
					<i class="comments outline icon"></i>BY CONVERSATION
				</button></a> <a class="ui active item" href="/home/sortByDate"><button
					class="ui primary button">
					<i class="calendar outline icon"></i>BY DATE
				</button></a>

		</div>
</section>