#{extends 'main.html' /} #{set title:'Profile' /}

<nav class="ui inverted  menu">
	<a class="ui item" href="/home"><i class="large home icon"></i></a> <a
		class="ui item" href="/members"><i class="large users icon"></i></a> <a
		class="ui active item" href="/profile"><i class="large male icon"></i></a>
	<a class="ui item" href="/leaderboard"><i
		class="large bar chart icon"></i></a> <a class="ui item" href="/login"><i
		class="large sign out icon"></i></a>
</nav>

<section class="ui inverted blue segment">
	<h2 class="ui header">${user.firstName} ${user.lastName}'s Profile
		(${user.email})</h2>
	<h4>Nationality: ${user.nationality}</h4>
	<div class="ui two column grid segment">
		<div class="ui row">
			<div class="ui column">
				<p>
					<img src="/profile/getpicture/${user.id}" class="tin-blue-border" />
				</p>
				<form action="/profile/uploadpicture/${user.id}" method="post"
					enctype="multipart/form-data">
					<input type="file" name="picture" /> <input type="submit"
						name="submit" value="upload" />
				</form>
			</div>
			<div class="ui column form segment">
				<h2 class="ui small header">Status</h2>
				<div class="ui green block label">
					<p>${user.statusText}</p>
				</div>
				<hr>
				<form action="/profile/changestatus" method="post">
					<h3 class="ui inverted teal block header">Enter Status</h3>
					<textarea class="ui field" name="profiletext"> </textarea>
					<input class="ui blue button" type="submit" name="submit"
						value="Change" />
				</form>
			</div>
		</div>
	</div>
</section>