#{extends 'main.html' /} #{set title:'Members' /}

<nav class="ui inverted  menu">
	<a class="ui item" href="/home"><i class="large home icon"></i> </a> <a
		class="ui active item" href="/members"><i class="large users icon"></i></a>
	<a class="ui item" href="/profile"><i class="large male icon"></i></a>
	<a class="ui item" href="/leaderboard"><i
		class="large bar chart icon"></i></a> <a class="ui item" href="/login"><i
		class="large sign out icon"></i></a>
</nav>



<section class="ui blue segment">
	<h2 class="ui header">SpaceBook's Members</h2>



	<form action="/members/search" class="ui form" method="post">

		<div class="field">
			<h2>
				<button class="ui primary button">
					<i class=" large search icon"></i> Find By Name Search
				</button>
			</h2>
			<input placeholder="Correct first name OR last name only please"
				type="text" name="name">
		</div>
	</form>


	<div class="ui list">
		#{list items:users, as:'user'}
		<div class="item">
			<i class="add user icon"></i>
			<div class="content">
				<a href="/publicprofile/${user.id}"> <img
					src="/profile/getpicture/${user.id}"
					class="ui small rounded image tin-blue-border ui avatar image">
				</a> ${user.firstName} ${user.lastName} <a
					href="/members/follow/${user.id}"> (follow) </a>
				<div class="ui blue message">
					<div class="header">STATUS:</div>
					<p>
						<b>${user.statusText}</b>
					</p>
				</div>
			</div>
		</div>
		#{/list}
	</div>



</section>
