#{extends 'main.html' /} #{set title:'Members' /}

<nav class="ui inverted  menu">
	<a class="ui item" href="/home"><i class="large home icon"></i> </a> <a
		class="ui active item" href="/members"><i class="large users icon"></i></a>
	<a class="ui item" href="/profile"><i class="large male icon"></i></a>
	<a class="ui item" href="/leaderboard"><i
		class="large bar chart icon"></i></a> <a class="ui item" href="/login"><i
		class="large sign out icon"></i></a>
</nav>

<section class="ui segment">
	<h2 class="ui header">SpaceBook's Members</h2>
	<div class="ui list">
		#{list items:searchs, as:'search'}
		<div class="item">
			<i class="add user icon"></i>
			<div class="content">
				<a href="/publicprofile/${search.id}"> <img
					src="/profile/getpicture/${search.id}"
					class="ui tiny rounded image tin-blue-border ui avatar image">
				</a> ${search.firstName} ${search.lastName} <a
					href="/members/follow/${search.id}"> (follow) </a>
				<div class="ui blue message">
					<div class="header">STATUS:</div>
					<p>
						<b>${search.statusText}</b>
					</p>
				</div>
			</div>
		</div>
		#{/list}
	</div>
	<h2>
		<a class="ui item" href="/members">
			<button>
				<i class="large users icon"> </i>
			</button>
		</a>
	</h2>

</section>
