#{extends 'main.html' /} #{set title:'Members' /}

<nav class="ui inverted  menu">
	<a class="ui item" href="/home"><i class="large home icon"></i> </a> <a
		class="ui active item" href="/members"><i class="large users icon"></i></a>
	<a class="ui item" href="/profile"><i class="large male icon"></i></a>
	<a class="ui item" href="/leaderboard"><i
		class="large bar chart icon"></i></a> <a class="ui item" href="/login"><i
		class="large sign out icon"></i></a>
</nav>



<section class="ui segment">
	<h2 class="ui header">SpaceBook's Members</h2>

	<section>

		<h1 class="ui header">Sorry no one found by that name</h1>
		<h2>
			Please check you have the right name and try again!! <a
				class="ui item" href="/members">
				<button>
					<i class="large users icon"></i>
				</button>
			</a>
		</h2>

	</section>

</section>
