#{extends 'main.html' /} #{set title:'Edit Details' /}

<nav class="ui inverted menu">
	<a class="active item" href="/signup"> <i class="edit icon"></i></a> <a class="item"
		href="/home"><i class="large home icon"></i></a>
</nav>

<section class="ui inverted blue form segment">
	<form action="/amend" method="POST">
		<div class="two fields">
			<div class="field">
				<label>First Name</label> <input placeholder="${user.firstName}"
					type="text" name="firstName">
			</div>

			<div class="field">
				<label>Last Name</label> <input placeholder="${user.lastName}"
					type="text" name="lastName">
			</div>
		</div>
		<div class="two fields">
			<div class="field">
				<label>Email</label> <input placeholder="${user.email}" type="text"
					name="email">
			</div>
			<div class="field">
				<label>Age</label> <input placeholder="${user.age}" type="text"
					name="age">
			</div>
		</div>

		<div class="field">
			<label>Nationality</label> <input placeholder="${user.nationality}"
				type="text" name="nationality">
		</div>

		<div class="field">
			<label>Password</label> <input type="Password" name="password">
		</div>

		<button class="ui  submit button">Submit</button>
	</form>
</section>
