#{extends 'main.html' /} #{set title:'Welcome to Spacebook' /}

<nav class="ui inverted menu">
	<a class="item" href="/signup"> Signup </a> <a class="item"
		href="/login"> Login </a>
</nav>

<section class="ui inverted blue segment">
	<p>Signup or Log in to the Spacebook Service</p>
</section>