#{extends 'main.html' /} #{set title:'Login to Spacebook' /}

<nav class="ui inverted menu">
	<a class="item" href="/signup"> Signup </a> <a class="active item"
		href="/login"> Login </a>
</nav>

<section class="ui inverted blue form segment">
	<form action="/authenticate" method="POST">
		<div class="field">
			<label> Username: </label> <input type="text" name="email">
		</div>
		<div class="field">
			<label> Password: </label> <input type="password" name="password">
		</div>
		<button class="ui  submit button">Login</button>
	</form>
</section>